{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/theme/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/theme/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/theme/css/elegent-icons.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/theme/css/owl.carousel.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/theme/css/style.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/theme/css/header.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/theme/css/themes.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ asset('bundles/theme/css/responsive.css') }}" type="text/css" rel="stylesheet">

{% endblock %}
{% block body %}{% endblock %}
{% block footer %}
    <p class="m-0">Copyright &copy; Roger 2018</p>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/theme/js/modernizr-2.8.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/theme/js/plugins.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/theme/jquery/jquery.min.js') }}"></script>

{% endblock %}
